header {
  border-bottom: solid 1px lightblue;

  div.container {
    max-width: 90vw;
    margin: 0px auto;

    padding-left: 2rem;
    padding-right: 2rem;

    > div {
      height: 4rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        margin: 0px;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 1.75rem;
        color: lightseagreen;
      }

      > div {
        display: flex;
        gap: 0.5rem;
      }
    }
  }
}
