section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;

  div.main {
    flex-grow: 1;
  }

  main.wrapper {
    max-width: 90vw;
    margin: 0 auto;

    > div {
      outline: solid 1px red;

      &.home {
        height: 100vh;
      }

      &.page {
        min-height: 700px;
      }
    }
  }
}
